/* =============
footer section
===============*/
footer {
	background: #2f2e41;
	min-width: 1200px;
	margin-top: 100px;
	padding: 3.5rem;
}

footer .col-3 {
	display: flex;
	justify-content: center;
}

footer h3 {
	padding: 8px 0;
	color: var(--color-1);
	text-shadow: 0 2px 10px #3b3942;
	font-family: 'Fira Sans', sans-serif;
}

footer li {
	list-style: none;
	padding: 2px 0;
}
footer a {
	text-decoration: none;
	color: #dcd6f7;
	text-shadow: 0 2px 10px #000e0a;
	font-size: 14px;
	padding: 12px 0;
	font-family: 'Fira Sans', sans-serif;
}
